body{
    background-color: pink;
    font-family: Georgia, 'Times New Roman', Times, serif;
    background-image: url('https://i.pinimg.com/originals/03/c2/ff/03c2ff2e06cd871731d8e96fd1113b34.gif');
}
footer{
    position:fixed;
    bottom: 0%;
    left: 47%;
}
.code{
    color: #ff3c91
}
img{
    width: 50vw;
    height: 50vh;
}
.cool{
    text-align: center;
}
.cool:hover{
    background-image: url('https://img1.picmix.com/output/stamp/normal/0/9/5/1/1841590_6f77d.gif');
  background-size: cover;
  background-position: center;
  -webkit-background-clip: text;
  background-clip: text;
  color: transparent;
    transform: scale(2);
}
.cool{
    color:#ff3292
}
.ilic{
    color: #ff8cbe
}
.yaya{
    width: 90px;
    height: 30px;
    display: block;
    margin:auto
}
.centerme{
    text-align: center;
}
.blinkies{
    width: 228px;
    height: 40px;
}
.no-underline{
    text-decoration: none;
}
.mainimg{
    width: 460px;
    height: 460px;
}
h1{
    color: #FF66AD;
    background-color: #ffbbdb;
}